<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Главная страница</title>
</head>
<body>
    <h1>Аналог Discord</h1>
    <p>Это главная страница, которую будем встречать при входе в наше приложение</p>
    <a href="{% url 'login_view' %}">Войти</a>
    <a href="{% url 'register' %}">Зарегистрироваться</a>
</body>
</html>